site_name: SQLAlchemy File
site_description: SQLAlchemy-file is a SQLAlchemy extension for attaching files to SQLAlchemy model and uploading them to various storage such as Local Storage Amazon S3, Rackspace CloudFiles, Google Storage and others using Apache Libcloud.
site_url: https://jowilf.github.io/sqlalchemy-file
repo_name: jowilf/sqlalchemy-file
repo_url: https://github.com/jowilf/sqlalchemy-file
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - navigation.tabs
    - content.tabs.link

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Overview: 'index.md'
  - Tutorial - User Guide:
      - Quick Start: 'tutorial/quick-start.md'
      - Setup your storage: 'tutorial/setup-your-storage.md'
      - Using files in models: 'tutorial/using-files-in-models.md'
      - Serving files: 'tutorial/serving-files.md'
  - API Reference:
      - StorageManager: 'api/storage-manager.md'
      - File: 'api/file.md'
      - Types: 'api/types.md'
      - Validators: 'api/validators.md'
      - Processors: 'api/processors.md'
      - Exceptions: 'api/exceptions.md'
  - Changelog: 'changelog.md'



plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_root_heading: true
            show_source: false
watch:
  - sqlalchemy_file


extra:
  analytics:
    provider: google
    property: G-6GVDGPXNYF
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jowilf
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/jowilf
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/jocelin-hounon-2008aa139